<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#ccbb;">

    <table align="center">
       <tr>    <h2>   <marquee style="font-family:Book Antiqua;  color:white" bgcolor="#000080" scrollamount="15">****...Welcome...****</marquee></h2>
</tr>
        <tr>
            <td><a href="/home"><input type="button" value="Pdf_Page" ></a></td>

            <td><a href="/test"><input type="button" value="Extract_text" ></a></td>

            <td><a href="/testing"><input type="button" value="Extract_image" ></a></td>

            <td><a href="/type_model"><input type="button" value="Extract_model" ></a></td>
        </tr>

    </table>


</body>
</html>